body, html {
  height: 100%;
  margin: 0;
  margin-right: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content1{
  margin-left: 20vw;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.content1 h1 {
  font-size: 5vw;
}

.content1 p {
  font-size: 1.6vw;
}

.content2 {
  margin-left: 20vw;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-size: 2vw;

}

.bg, .bg2, .bg3{
  background-image: url("world.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
background-image:url("cookies.jpg");
}

.bg3 {
background-image:url("safe.png");
}



.youtube {
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
  margin-left: 40vw;
  margin-right: 20vw;
  display: flex;
  justify-content: right;
  box-shadow:
}

.L1Content, .L2Content, .pros, .cons, .info, .RContent, .L3Content {
  margin-left: 30vw;
  margin-right: 10vw;

}

.L1Content h1 {
  display: flex;
  justify-content: center;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: black;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

li {
  text-indent: 50px;
}

.pros {
  background-color: green;
}

.cons {
background-color: red;
}

.L2Vids {
  width:50%;
  margin-left: 40vw;
}

iframe {
  box-shadow: 5px 10px 8px #888888;
}
